/* Importing Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600&display=swap');

/* Global Styles */
body {
    background-color: lightcyan;
    font-family: 'Roboto Mono', monospace;
    padding: 20px;
}

/* creates style for all buttons */
.btn {
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
}

.btn:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}

/* centers heading text */
h1, h2 {
    text-align: center;
}

/* creates style for all containers/backgrounds */
.container {
    background-color: lightcoral;
    width: 75%;
    border-radius: 5px;
    border: black solid 2px;
    padding: 20px;
    display: flex;    /*To be changed to flex for game and none for hiding*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* Quiz Box */
#quiz-container {
    flex-direction: column;
    justify-content: center;
}

/* base style for score and lives box */
.value-box {
    border: solid 2px black;
    border-radius: 5px;
    padding: 5px;
    font-weight: 300;
    margin: 15px;
}

.score {
    background-color: white;
    color: black;
}

.lives {
    background-color: red;
    color: white;
}

/* force answers into vertical column */
#question-box {
    display: flex; 
    flex-direction: column;
    margin-bottom: 20px;
}

#question-box .answer-btn {
    margin: 20px;
    padding: 10px;
}

#next {
    display: block;
    width: fit-content;
    margin: auto;
}
/* End Screen */
#endgame-container {
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 75%;
    border-radius: 5px;
    border: black solid 2px;
    padding: 20px;
    margin: auto;
}

ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

#rules-button {
    display: block;
    transform: translateY(50px);
    margin: auto;
}