/* Importing Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600&display=swap');

/* Colour Variables */
:root {
    --main-color: blue;
}

/* Global Styles */
body {
    background-color: var(--main-color);
    font-family: 'Roboto Mono', monospace;
}

h1 {
    text-align: center;
}

/* Start Box */
#start-container  {
    background-color: white;
    width: 75%;
    border-radius: 5px;
    border: black solid 2px;
    padding: 20px;
    display: none;     /*To be changed to flex for game and none for hiding*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#difficulty-buttons {
    display: flex;
    padding: 20px;
}

#difficulty-buttons .btn {
    margin: 0 20px;
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

#start-game-btn {
    margin: 20px;
}
/* Quiz Box */
#quiz-container {
    background-color: white;
    width: 75%;
    border-radius: 5px;
    border: black solid 2px;
    padding: 20px;
    margin: auto;
    display: flex; /*To be changed to flex for game and none for hiding*/
    flex-wrap: wrap;
    justify-content: space-between;
}

#timer {
    order: 1;
    align-self: flex-start;
    background-color: red;
    color: white;
    border: solid 2px black;
    border-radius: 5px;
    padding: 10px;
    font-weight: 800;
}

#question-box {
    order: 2;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#question-box .answer-btn {
    margin: 20px;
    padding: 10px;
}

#lives-box {
    order: 4;
    align-self: flex-end;
    background-color: chartreuse;
    color: black;
    border: solid 2px black;
    border-radius: 5px;
    padding: 10px;
    font-weight: 800;
}

#lives-box .heart {
    margin: 5px;
    padding: 5px;
}



/* End Screen */
#endgame-container {
    display: none;  /*To be changed to flex for game and none for hiding*/
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 75%;
    border-radius: 5px;
    border: black solid 2px;
    padding: 20px;
    margin: auto;
}



/* Rules Button */
#rules-container {
    display: none;  /*To be changed to flex for game and none for hiding*/
}

